header{BACKGROUND-COLOR:#18183a;
    padding: 1px 0;
color: white;
 display: flex ; justify-content image-rendering: display: position: ;;: space-around; 
 }
 .cabeçalho-imagem { width: 60%}
.cabeçalho-imagen { width: 60%
}
image{width: 60%;}
.cabeçalho-image { width: 60%
}

