header{BACKGROUND-COLOR:#18183a;
    padding: 1px 0;
color: white;
 display: flex ; justify-content image-rendering: display: position: ;;: space-around; 
 }
 .cabeçalho-imagem { width: 60%}
.cabeçalho-imagen { width: 80%
}
image{width: 60%;}
.cabeçalho-image { width: 60%
}
.cabeçalho-image { width: 5%
}
{margin: 0
    padding: 0 }
    principal{background-img:url(imag\download (1).jpg);
    background-repeat:norepeat;
background size:contain;}
{background-size:contain; align-items:center}

{justify-content: center;
align-items: center;}

